[Unit]
After=network.target

[Service]
ExecStart=/usr/local/bin/network-logger.py /etc/network-logger/%i.toml
Restart=on-abort

[Install]
WantedBy=default.target
